.containerListItem{
    display: flex;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    background-color: white;
    padding: 17px;
    border: 1px solid #d0d2dd;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px;
}

.selectable:hover{
    border: 1px solid #e54065;
    cursor: pointer;
}

.containerDesc{
    display: flex;
    flex-direction: column;
}

.read{
    background-color: #f2f2f2;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
    
}

.subject{
    display: flex;
    flex-direction: column;
}

.sender{
    margin-bottom: 5px;
}

.body{
    margin: 10px 0px 10px 0px;
}


.textMid {
    color: #636363;
    font-size: medium;
}

.textBold {
    font-weight: bold;
}

.textEllipsis {
    display: -webkit-box;
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.containerImage{
    display: flex;
    justify-content: center;
    margin: 0px 20px 20px 0px;
}

.containerImage div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: x-large;
    color: white;
    background-color: #e54065;
    border-radius: 50%;
}


.timestamp{
    display: flex;
}

.favBtnSm{
    margin-left: 30px;
    font-weight: bold;
    color: #e54065;
    cursor: pointer;
}

.unread{
    font-weight: bold;
    color: #e54065;
}


